.slider_wrapper{
  width: 100vw;
}
.slider_wrapper:before,
.slider_wrapper .arrow,
.slider_wrapper .slider_view,
.slider_wrapper .slider_view .slider li {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.slider_wrapper .slider_view .slider li img {
  display: block;
  width: 100%;
}

ul,
li {
  padding: 0;
  list-style: none;
}

.slider_wrapper:before {
  content: '';
}

.slider_wrapper .arrow {
  height: auto;
  cursor: pointer;
  width: 50px;
}

.slider_wrapper .arrow.next {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.slider_wrapper .arrow svg {
  fill: #03A9F4;
  fill-opacity: 0.5;
}

.slider_wrapper .arrow svg:hover {
  fill-opacity: 1;
}

.slider_wrapper .slider_view {
  overflow: hidden;
  position: relative;
}

.slider_wrapper .slider_view .slider {
  transition: all 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -webkit-transition: all 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  white-space: nowrap;
  letter-spacing: -4px;
  /*word-spacing: -4px;*/
  font-size: 0;
  position: absolute;
}

